rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Chi cho doc ghi khi trang da dang nhap an danh qua Firebase Authentication
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
